.box {
  border: 1px solid red;
}

.p1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.p2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.p3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.p4 {
  margin-top: 10px;
  margin-bottom: 15px;
}
