.p {
  position: relative;
  background-color: #ccc;
  height: 900px;
}

.c {
  height: 300px;
  width: 400px;
  background-color: red;

  // 关键css
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
